@import "object";

.app-popup {
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 130;
  background: $color-site-main;
  background: -webkit-linear-gradient(to left, $color-figure-main, $color-site-main);
  background: linear-gradient(to left, $color-figure-main, $color-site-main);
}

.app-popup .app-popup-content {
  margin:20%;
  width: auto;
  height: auto;
  padding:10px;
  background-color: #c5c5c5;
  border-radius:5px;
  box-shadow: 0 0 10px #000;
}

.contpre small {
  font-size:25px;
}

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;top: 48%;
  margin-left:-125px;
  margin-top:-75px;
  color:#fff;
  font-size:40px;
  letter-spacing:-2px;
  text-align:center;
  line-height:35px;
}

.appDescription {
  border: 1px solid #466995;
  display: inline-block;
  height: 200px;
  margin: 20px;
  padding-top: 40px;
  width: 180px;
  color: #000000;
}

.appDescription:hover {
  background: #C0D6DF;
  color: #FFF;
}

#appDescriptionTaskList {
  background: url('../img/To-do_list.jpg') center top;
  background-size: cover;
}

.jumbotron {
  background-image: url('../img/To-do_list.jpg');
}

.usedSkills img {
  width: 33%;
}

.skill {
  height: 180px;
  text-align: left;
}


html, body {
  margin: 0;
  padding: 0;

  background: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg') center top;
  background-size: cover;
}

.windowTitle {
  display:block;
  background:#FAF0E6;
  width:900px;
  font-size: 1.8em;
  top: 10px;
}

.window {
  background:#FAF0E6;
  width:900px;
  font-size: 1.0em;
  top: 10px;
}

.dataTable {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.dataTableRow {
  border-bottom: 1px solid #000;
}

td {
  padding: 5px 30px 5px 5px;
}

.tableHeader {
  background:#FAF0E6;
  width:900px;
  font-size: 1.0em;
  top: 10px;
}

.tableName {
  display:block;
  background:#FAF0E6;
  width:900px;
  font-size: 1.8em;
  top: 10px;
}

.app-popup {
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0;
}

.app-popup .app-popup-content {
  margin:20%;
  width:300px;
  height: auto;
  padding:10px;
  background-color: #c5c5c5;
  border-radius:5px;
  box-shadow: 0 0 10px #000;
}

.matchingFull {
  background: #BADBAD;
}

.matchingPartly {
  background: #F0DC82;
}

.matchingNo {
  background: #FFD1DC;
}

.btn a:active {
  top: 2px;
}


header {
  position: inherit;
}

.appWorkPlace {
  height:500px;
  overflow:auto;
  background-image: url('../img/To-do_list.jpg');
  background-size: cover;
  background-blend-mode: overlay;
  opacity: 0.8;
}

tr:hover ~ button {
  opacity: 1;
  -webkit-transition: opacity 1s linear;
}

.fade {
  opacity: 0.1;
}

.fade:hover {
  opacity: 1;
  -webkit-transition: opacity 1s linear;
}

