@charset "utf-8";

$gap:           52px;
$body-size: 	13px;

$size-1:	2.5rem;
$size-2:	2rem;
$size-3:	1.5rem;
$size-4:	1.25rem;
$size-5:	1rem;
$size-6:	0.75rem;
$size-7:	0.50rem;

$navbar-background-color: $color-site-main;
$navbar-dropdown-background-color: $color-site-main;
$navbar-item-color: #E7E7E7;
$link: #5A738E;
// Import Bulma components
@import "../../../../../node_modules/bulma/bulma";